<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="emp" class="com.bean.Employee">
		<property name="empid" value="101"/>
		<property name="name" value="Saurabh"/>
		<property name="salary" value="24000"/>
	</bean>
	<bean id="emp1" class="com.bean.Employee">
		<property name="empid" value="102"/>
		<property name="name" value="Suman"/>
		<property name="salary" value="54000"/>
	</bean>
	<bean id="emp2" class="com.bean.Employee">
		<property name="empid" value="103"/>
		<property name="name" value="Shivani"/>
		<property name="salary" value="74000"/>
	</bean>
	<bean id="emp3" class="com.bean.Employee">
		<property name="empid" value="104"/>
		<property name="name" value="Arvind"/>
		<property name="salary" value="94000"/>
	</bean>
	<bean id="edao" class="com.dao.EmployeeDao">
		<property name="employees">
			<list>
				<ref bean="emp"/>
				<ref bean="emp1"/>
				<ref bean="emp2"/>
				<ref bean="emp3"/>
			</list>
		</property>
	</bean>
</beans>
